<footer class="footer">
  <div class="container">
    <div class="row top-row">
      <div class="col-xs-12 col-sm-2">
        <a href="/">
          <img src="/assets/img/oae-logo.png" alt="Open academic Environment logo" class="logo" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-2">
        <a href="/">
          Open Academic Environment
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <a href="https://network.unity.ac" class="btn btn-try">Try OAE</a>
      </div>
      <div class="col-xs-12 col-sm-4 text-right">
        <ul>
          <li><a href="/join">Join the network</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="row bottom-row">
      <div class="col-xs-12 col-sm-2 text-left">
        <a href="https://apereo.org" target="_blank"><img src="/assets/img/apereo.svg" alt="Apereo foundation logo" class="logo" /></a>
      </div>
      <div class="col-xs-12 col-sm-4 text-left">
        &copy; Apereo Foundation 2015. All rights reserved.
      </div>
      <div class="col-xs-12 col-sm-6 icons">
        <ul>
          <li><a href="http://github.com/oaeproject" target="_blank" title="Link to the GitHub projects"><img src="/assets/img/icons/github.svg" alt="Apereo foundation logo" /></a></li>
          <li><a href="http://youtube.com" target="_blank" title="Link to the YouTube videos"><img src="/assets/img/icons/youtube.svg" alt="Youtube logo" /></a></li>
          <li><a href="http://twitter.com/oaeproject" target="_blank" title="Link to the twitter feed"><img src="/assets/img/icons/twitter.svg" alt="Twitter logo" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

{% for js in page.extra_js %}
<script src="/assets/js/{{ js }}.js"></script>
{% endfor %}
