<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="page-home">

    <header>
      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
             <a class="navbar-brand" href="/">
              <img alt="OAE" src="/assets/img/oae.png" />
            </a>
          </div>

          <div id="navbar" class="collapse navbar-collapse">
            <a href="https://network.unity.ac" class="btn btn-try">Try OAE</a>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/join">Join the network</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>

      </nav>
      <div class="hero">
        <h1>A connected network for academic collaboration</h1>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
