---
layout: default
page_type: blog
---
<div class="row">
  <h2 class="col-xs-12 text-center">
      <a href="/blog" class="btn btn-default pull-left">Back to posts</a>
      {{ page.title }}
  </h2>
</div>

<div class="row">
  <div class="col-xs-12">
      <a href="{{ page.url }}">
        <div class="banner" style="background-image: url('/assets/img/banners/oae-cloud-hosting.png')">
          <div class="metadata">
            <div class="author">
              <img src="{{ page.author_image }}" alt="" class="pull-left" />
              <div class="author-name">
                <div>By {{ page.author }}</div>
                <div>{{ page.date | date: "%b %-d, %Y" }}</div>
              </div>
            </div>
          </div>
        </div>
      </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ content }}
  </div>
</div>

{% if site.comments %}
<div class="row comments">
  <div class="col-xs-12">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'oae';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>
{% endif %}
