---
layout: default
page_type: blog
---
<div class="row">
  <div class="col-xs-12 hidden-md hidden-lg">
      <a href="/blog" class="btn btn-default pull-left">Back to posts</a>
  </div>
  <h1 class="col-xs-12 col-md-12 page-title">
      <a href="/blog" class="btn btn-default pull-left hidden-xs hidden-sm">Back to posts</a>
      {{ page.title }}
  </h1>
</div>

<div class="row post-banner">
  <div class="col-xs-12">
      <a href="{{ page.url }}">
        <div class="banner" style="background-image: url('{{ page.banner }}')">
          <div class="metadata">
            <div class="title">{{ page.title }}</div>
            <img src="{{ page.author_image }}" alt="" class="pull-left" />
            <div class="author-name">By {{ page.author }}</div>
            <div class="author-date">{{ page.date | date: "%b %-d, %Y" }}</div>
          </div>
        </div>
      </a>
  </div>
</div>
<div class="row post-content">
  <div class="col-xs-12">
    {{ content }}
  </div>
</div>

{% if site.comments %}
<div class="row comments">
  <div class="col-xs-12">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'oae';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>
{% endif %}
